.button {
  padding: 10px 15px;
  border: 1px solid var(--color-button);
  background-color: var(--color-button);
  border-radius: 4px;
  color: white;
}

.button--primary {
  --color-button: var(--color-primary-500);
}

.button--outline {
  --color-button: var(--color-primary-500);
  background-color: transparent;
  color: var(--color-button);
}
